In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\Shree\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
data = pd.read_csv("CSV 1.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 26 columns):
id                       900 non-null int64
city                     900 non-null object
country                  900 non-null object
fullStreetAddress        900 non-null object
postalCode               900 non-null object
stateOrProvince          899 non-null object
unitNumber               118 non-null object
bathrooms                900 non-null int64
bedrooms                 900 non-null int64
listingDescription       842 non-null object
listingTitle             900 non-null object
latitude                 789 non-null float64
longitude                789 non-null float64
listPrice                900 non-null float64
livingArea               726 non-null float64
livingAreaUnit           900 non-null object
yearBuilt                791 non-null float64
lotSize                  562 non-null float64
lotSizeUnit              900 non-null object
propertySubType          900 non-null object
listingCategory          900 non-null object
numParkingSpaces         460 non-null float64
createdAt                900 non-null object
geocodioAccuracyScore    27 non-null float64
photoscount              900 non-null int64
grade                    900 non-null object
dtypes: float64(8), int64(4), object(14)
memory usage: 182.9+ KB

In [4]:
data.describe()

,id,bathrooms,bedrooms,latitude,longitude,listPrice,livingArea,yearBuilt,lotSize,numParkingSpaces,geocodioAccuracyScore,photoscount
count,9.000000e+02,900.000000,900.000000,789.000000,789.000000,9.000000e+02,726.000000,791.000000,5.620000e+02,460.000000,27.000000,900.000000
mean,1.379640e+06,2.220000,2.948889,36.058472,-88.433106,4.455732e+05,2084.289256,1979.609355,1.224170e+05,3.919565,0.952963,18.700000
std,8.350904e+05,1.359857,2.110319,5.520729,13.363031,4.869270e+06,4154.019862,44.355673,1.110570e+06,46.660458,0.158012,16.242976
min,2.637000e+03,0.000000,0.000000,18.385107,-157.877612,2.850000e+02,0.000000,1111.000000,0.000000e+00,0.000000,0.330000,0.000000
25%,6.939698e+05,1.000000,2.000000,32.650636,-94.836975,6.497500e+04,1233.000000,1962.000000,6.534000e+03,1.000000,1.000000,1.000000
50%,1.362506e+06,2.000000,3.000000,36.053461,-84.288388,1.999000e+05,1684.000000,1987.000000,1.043262e+04,2.000000,1.000000,19.000000
75%,2.034228e+06,3.000000,4.000000,40.744408,-80.175833,3.399250e+05,2289.500000,2005.000000,2.178000e+04,2.000000,1.000000,30.000000
max,2.698139e+06,13.000000,51.000000,48.093560,-66.163046,1.450000e+08,99971.000000,2019.000000,1.899216e+07,1002.000000,1.000000,91.000000

In [5]:
data.head()

,id,city,country,fullStreetAddress,postalCode,stateOrProvince,unitNumber,bathrooms,bedrooms,listingDescription,...,yearBuilt,lotSize,lotSizeUnit,propertySubType,listingCategory,numParkingSpaces,createdAt,geocodioAccuracyScore,photoscount,grade
0,2698139,St Peters,US,12 Legacy Estates Lane,63376,MO,NaN,6,5,Tucked away in the private Legacy Estates subd...,...,1998.0,NaN,squareFoot,Single Family Detached,Purchase,3.0,2019-02-21 14:53:27.462+00,NaN,29,awesome
1,2698093,St Louis,US,222 Euclid Avenue,63119,MO,NaN,2,3,This charming Ranch offers hardwood flooring o...,...,1962.0,7753.68,squareFoot,Single Family Detached,Purchase,1.0,2019-02-21 14:53:07.92+00,NaN,29,awesome
2,2698007,Ballwin,US,741 Woodside Trails Drive,63021,MO,NaN,3,3,This is the LARGEST Villa-style condo in this ...,...,1986.0,14766.84,squareFoot,Condominium,Purchase,2.0,2019-02-21 14:52:30.126+00,NaN,29,awesome
3,2697963,Manchester,US,301 Wembley Lane,63021,MO,NaN,2,3,Over 1700 sq ft of updated living space in con...,...,1969.0,11848.32,squareFoot,Single Family Detached,Purchase,2.0,2019-02-21 14:52:11.85+00,NaN,29,awesome
4,2697938,O'fallon,US,27 Clear Meadows,63366,MO,NaN,4,4,"Move in ready, excellent condition. Outstandin...",...,2007.0,10890.00,squareFoot,Single Family Detached,Purchase,3.0,2019-02-21 14:51:55.495+00,NaN,29,awesome

In [6]:
# number of missing value in each cloumns
data.isnull().sum()

id                         0
city                       0
country                    0
fullStreetAddress          0
postalCode                 0
stateOrProvince            1
unitNumber               782
bathrooms                  0
bedrooms                   0
listingDescription        58
listingTitle               0
latitude                 111
longitude                111
listPrice                  0
livingArea               174
livingAreaUnit             0
yearBuilt                109
lotSize                  338
lotSizeUnit                0
propertySubType            0
listingCategory            0
numParkingSpaces         440
createdAt                  0
geocodioAccuracyScore    873
photoscount                0
grade                      0
dtype: int64

In [7]:
# drop the colums which have too much missing value like geocodioAccuracyScore

In [8]:
data = data.drop('geocodioAccuracyScore',1)

In [9]:
data = data.drop('unitNumber',1)

In [10]:
data.isnull().sum()

id                      0
city                    0
country                 0
fullStreetAddress       0
postalCode              0
stateOrProvince         1
bathrooms               0
bedrooms                0
listingDescription     58
listingTitle            0
latitude              111
longitude             111
listPrice               0
livingArea            174
livingAreaUnit          0
yearBuilt             109
lotSize               338
lotSizeUnit             0
propertySubType         0
listingCategory         0
numParkingSpaces      440
createdAt               0
photoscount             0
grade                   0
dtype: int64

In [11]:
# filling the missing value

In [12]:
data_mean=data['latitude'].mean()
data['latitude']=data['latitude'].fillna(data_mean)

In [13]:
data_mean=data['longitude'].mean()
data['longitude']=data['longitude'].fillna(data_mean)

In [14]:
data_mean=data['livingArea'].mean()
data['livingArea']=data['livingArea'].fillna(data_mean)

In [15]:
# fill by mode 
#data_mode=data['yearBuilt'].mode()
#data['yearBuilt']=data['yearBuilt'].fillna(data_mode)

In [16]:
data_mean=data['lotSize'].mean()
data['lotSize']=data['lotSize'].fillna(data_mean)

In [17]:
data_mean=data['numParkingSpaces'].mean()
data['numParkingSpaces']=data['numParkingSpaces'].fillna(data_mean)

In [45]:
print(data.groupby('yearBuilt').size())

yearBuilt
1111.0     1
1800.0     1
1820.0     1
1850.0     1
1860.0     1
1875.0     1
1876.0     1
1881.0     1
1886.0     1
1889.0     1
1890.0     3
1892.0     1
1893.0     1
1899.0     2
1900.0     7
1901.0     1
1903.0     1
1904.0     1
1906.0     1
1907.0     2
1908.0     1
1910.0     3
1920.0     9
1922.0     3
1923.0     5
1924.0     1
1925.0     3
1926.0     3
1927.0     2
1928.0     2
          ..
1990.0     5
1991.0     5
1992.0     7
1993.0    10
1994.0     8
1995.0    18
1996.0     6
1997.0     5
1998.0    10
1999.0    15
2000.0    14
2001.0     4
2002.0    13
2003.0    20
2004.0    23
2005.0    18
2006.0    24
2007.0    18
2008.0    15
2009.0     6
2010.0     5
2011.0     4
2012.0     5
2013.0     5
2014.0    10
2015.0     6
2016.0     6
2017.0    15
2018.0    55
2019.0     9
Length: 116, dtype: int64

In [47]:
year_b=2019

In [52]:
data['yearBuilt']=data['yearBuilt'].fillna(year_b)

In [53]:
print(data.groupby('stateOrProvince').size())

stateOrProvince
AL     18
AR     15
AZ     32
CA     34
CO      3
CT      2
DC      2
DE      1
FL    166
GA     43
HI      1
IA     18
ID      6
IL     26
IN     10
KS     10
KY     15
LA     14
MA      4
MD      8
ME      9
MI     22
MN      4
MO     29
MS      3
MT      1
NC     29
NE      9
NH      2
NJ     36
NM      6
NV     53
NY     64
OH     11
OK     14
ON      2
OR      7
PA     12
PR      2
RI      3
SC     18
SD      1
TN     24
TX     51
UT      3
VA     23
VT      2
WA      9
WI     16
WV      3
WY      3
dtype: int64

In [55]:
#print(data.groupby('listingDescription').size())

In [ ]:
data_s=FL

In [57]:
data['stateOrProvince']=data['stateOrProvince'].fillna(data_s)

NameError: name 'data_s' is not defined

In [56]:
data.isnull().sum()

id                     0
city                   0
country                0
fullStreetAddress      0
postalCode             0
stateOrProvince        1
bathrooms              0
bedrooms               0
listingDescription    58
listingTitle           0
latitude               0
longitude              0
listPrice              0
livingArea             0
livingAreaUnit         0
yearBuilt              0
lotSize                0
lotSizeUnit            0
propertySubType        0
listingCategory        0
numParkingSpaces       0
createdAt              0
photoscount            0
grade                  0
dtype: int64

In [39]:
import scipy.sparse as sp

In [40]:
from sklearn.impute import SimpleImputer

In [41]:
imp = SimpleImputer(strategy="most_frequent")
imp.fit_transform(data)

array([[2698139, 'St Peters', 'US', ..., '2019-02-21 14:53:27.462+00',
        29, 'awesome'],
       [2698093, 'St Louis', 'US', ..., '2019-02-21 14:53:07.92+00', 29,
        'awesome'],
       [2698007, 'Ballwin', 'US', ..., '2019-02-21 14:52:30.126+00', 29,
        'awesome'],
       ...,
       [5181, 'North Miami Beach', 'US', ...,
        '2018-07-03 03:03:32.003+00', 2, 'bad'],
       [3983, 'Sunrise', 'US', ..., '2018-07-03 03:03:09.277+00', 0,
        'bad'],
       [2637, 'North Lauderdale', 'US', ...,
        '2018-07-03 03:02:41.916+00', 0, 'bad']], dtype=object)

In [42]:
data.isnull().sum()

id                      0
city                    0
country                 0
fullStreetAddress       0
postalCode              0
stateOrProvince         1
bathrooms               0
bedrooms                0
listingDescription     58
listingTitle            0
latitude                0
longitude               0
listPrice               0
livingArea              0
livingAreaUnit          0
yearBuilt             109
lotSize                 0
lotSizeUnit             0
propertySubType         0
listingCategory         0
numParkingSpaces        0
createdAt               0
photoscount             0
grade                   0
dtype: int64

ValueError: could not convert string to float: 'St Peters'